



<div class="header">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</div>
<mat-card class="cardi parallax1" data-aos="fade-up" data-aos-duration="2000">
  <h3 data-aos="fade-right" data-aos-duration="2000"> Header</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque fermentum dui faucibus in ornare quam. Vitae tortor condimentum lacinia quis. Tellus rutrum tellus pellentesque eu tincidunt tortor. Id leo in vitae turpis massa. Praesent elementum facilisis leo vel fringilla. Pretium vulputate sapien nec sagittis aliquam malesuada. Eu mi bibendum neque egestas. Netus et malesuada fames ac turpis egestas maecenas. Scelerisque mauris pellentesque pulvinar pellentesque. Felis eget velit aliquet sagittis. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Dictum fusce ut placerat orci nulla pellentesque dignissim. Ultricies tristique nulla aliquet enim tortor at auctor urna. Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Lacus laoreet non curabitur gravida arcu ac tortor. Sem et tortor consequat id porta nibh.</p>
  <button mat-raised-button  class="btn">Login</button>
</mat-card><br><br><br>


<mat-card style="color:white; background-color: #331E36" data-aos="fade-up" data-aos-duration="2000">
  <h3 data-aos="fade-right" data-aos-duration="2000">Hello</h3 >
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque fermentum dui faucibus in ornare quam. Vitae tortor condimentum lacinia quis. Tellus rutrum tellus pellentesque eu tincidunt tortor. Id leo in vitae turpis massa. Praesent elementum facilisis leo vel fringilla. Pretium vulputate sapien nec sagittis aliquam malesuada. Eu mi bibendum neque egestas. Netus et malesuada fames ac turpis egestas maecenas. Scelerisque mauris pellentesque pulvinar pellentesque. Felis eget velit aliquet sagittis. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Dictum fusce ut placerat orci nulla pellentesque dignissim. Ultricies tristique nulla aliquet enim tortor at auctor urna. Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Lacus laoreet non curabitur gravida arcu ac tortor. Sem et tortor consequat id porta nibh.</p>
  <button mat-raised-button  class="btn">Login</button>
</mat-card><br><br>

<mat-card style="color:white; background-color: #41337A" data-aos="fade-up" data-aos-duration="2000">
  <h3 data-aos="fade-right" data-aos-duration="2000">Hello</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque fermentum dui faucibus in ornare quam. Vitae tortor condimentum lacinia quis. Tellus rutrum tellus pellentesque eu tincidunt tortor. Id leo in vitae turpis massa. Praesent elementum facilisis leo vel fringilla. Pretium vulputate sapien nec sagittis aliquam malesuada. Eu mi bibendum neque egestas. Netus et malesuada fames ac turpis egestas maecenas. Scelerisque mauris pellentesque pulvinar pellentesque. Felis eget velit aliquet sagittis. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Dictum fusce ut placerat orci nulla pellentesque dignissim. Ultricies tristique nulla aliquet enim tortor at auctor urna. Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Lacus laoreet non curabitur gravida arcu ac tortor. Sem et tortor consequat id porta nibh.</p>
  <button mat-raised-button  class="btn">Login</button>
</mat-card><br><br>

<mat-card  class="parallax design" data-aos="fade-up" data-aos-duration="2000">
  <h3 data-aos="fade-right" data-aos-duration="2000">Hello</h3>
  <p data-aos="fade-up" data-aos-duration="2000">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque fermentum dui faucibus in ornare quam. Vitae tortor condimentum lacinia quis. Tellus rutrum tellus pellentesque eu tincidunt tortor. Id leo in vitae turpis massa. Praesent elementum facilisis leo vel fringilla. Pretium vulputate sapien nec sagittis aliquam malesuada. Eu mi bibendum neque egestas. Netus et malesuada fames ac turpis egestas maecenas. Scelerisque mauris pellentesque pulvinar pellentesque. Felis eget velit aliquet sagittis. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Dictum fusce ut placerat orci nulla pellentesque dignissim. Ultricies tristique nulla aliquet enim tortor at auctor urna. Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Lacus laoreet non curabitur gravida arcu ac tortor. Sem et tortor consequat id porta nibh.</p>
  <button mat-raised-button  class="btn">Login</button>
</mat-card><br><br>


<mat-card style="color:white; background-color: #476A6F" data-aos="fade-up" data-aos-duration="2000">
  <h3 data-aos="fade-right" data-aos-duration="2000">Hello</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque fermentum dui faucibus in ornare quam. Vitae tortor condimentum lacinia quis. Tellus rutrum tellus pellentesque eu tincidunt tortor. Id leo in vitae turpis massa. Praesent elementum facilisis leo vel fringilla. Pretium vulputate sapien nec sagittis aliquam malesuada. Eu mi bibendum neque egestas. Netus et malesuada fames ac turpis egestas maecenas. Scelerisque mauris pellentesque pulvinar pellentesque. Felis eget velit aliquet sagittis. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Dictum fusce ut placerat orci nulla pellentesque dignissim. Ultricies tristique nulla aliquet enim tortor at auctor urna. Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Lacus laoreet non curabitur gravida arcu ac tortor. Sem et tortor consequat id porta nibh.</p>
  <button mat-raised-button  class="btn">Login</button>
</mat-card><br><br>



